.page__main-contact {
  background-color: #177165;
}

.contact__container {
  padding: 80px 0;
  display: flex;

}

.contact__content-text {
  color: #A4D6CF;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact__content-title {
  width: 680px;
  color: #FFFFFF;
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  margin-right: 40px;
}


.contact__content-wrap {
  background-color: #23786D;
  width: 465px;
  margin: 55px 0;
}

.contact__content-inner {}