.page__main-farmzi {
  background-color: #E1F4F2;
  padding: 100px 150px;
}



.farmzi__content-text {
  margin-bottom: 10px;
  color: #777777;
  font-family: Roboto;
  font-size: 18px;
}

.farmzi__content-title2 {
  font-weight: 400;
  font-size: 48px;
  font-family: Playfair Display;
  color: #177165;
  margin-bottom: 50px;
}

.farmzi__content-list {
  display: flex;
}

.farmzi__content-item:not(:last-child) {
  margin-right: 50px;
}

.farmzi__content-img {
  margin-bottom: 30px;
}

.farmzi__content-p1 {
  color: #777777;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 5px;
}

.farmzi__content-p2 {
  color: #177165;
  font-size: 22px;
  font-family: Playfair Display;
  font-weight: 400;
  margin-bottom: 70px;
}

.farmzi__div {
  display: flex;
  justify-content: center;
}

.farmzi__button {
  color: #177165;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  width: 212px;
  border: 2px solid #177165;
  justify-content: center;
  padding: 12px 9px;
}

.farmzi__span {
  color: #177165;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}