.hero {
  padding-bottom: 80px;

  &__container {
    display: flex;
    background-color: #177165;
    height: 788px;
    margin-bottom: 115px;
  }

  &__content {
    margin-right: 30px;
    padding-left: 120px;
    height: 588px;
    width: 550px;
    left: 15px;
    top: 0px;
    border-radius: 0px;
  }

  &__text-one {
    margin: 0 28px 19px 50px;
    color: #a4d6cf;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      right: 100%;
      width: 40px;
      height: 1px;
      top: 8px;
      left: -50px;
      right: 10px;
      background-image: url(../img/main/Rectangle.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin-bottom: 15px;
    margin-right: 95px;
    width: 455px;
    left: 0px;
    top: 48px;
    color: #ffffff;
    font-size: 60px;
    font-style: Regular;
  }

  &__text-two {
    margin: 0 28px 60px 35px;
    color: #a4d6cf;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      right: 100%;
      width: 40px;
      height: 1px;
      top: 8px;
      left: -35px;
      right: 10px;
      background-image: url(../img/main/Rectangle2.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
  }
  &__button {
    font-family: Roboto;
    background-color: #ffffff;
    display: inline-block;
    width: 212px;
    padding: 9px 52px;
    color: #177165;
  }

  &__span {
    margin-left: 4px;
  }
}
