.hero {
  padding-bottom: 80px;
}

.hero__container {
  display: flex;
  background-color: #177165;
  height: 788px;
  margin-bottom: 115px;
}

.hero__content {

  margin-right: 30px;
  padding-left: 120px;
  height: 588px;
  width: 550px;
  left: 15px;
  top: 0px;
  border-radius: 0px;

}

.hero__text {
  margin: 0 28px 19px 15px;
  color: #A4D6CF;
}

.hero__title {
  margin-bottom: 15px;
  margin-right: 95px;
  width: 455px;
  left: 0px;
  top: 48px;
  color: #FFFFFF;
  font-size: 60px;
  font-style: Regular;
}

.hero__decor {}

.decor-hero {}

.action-hero__button {
  font-family: Roboto;
  background-color: #FFFFFF;
  display: inline-block;
  width: 212px;
  padding: 9px 52px;
  color: #177165;
}