.page__main-work {
  height: 1330px;
}

.work__container {}

.work__content-title {
  margin-bottom: 50px;
  width: 1140px;

}

.work__content-text {
  margin-bottom: 10px;
  color: #777777;
  font-family: Roboto;
  font-size: 18px;

}

.work__content-title2 {
  font-weight: 400;
  font-size: 48px;
  font-family: Playfair Display;
  margin-right: 143px;
  color: #177165;
}


.work__decor-text {
  display: flex;
}

.work__img-text {
  width: 463px;
  margin-left: 120px;
  margin-top: 73px;
}

.work__h2-text {
  color: #177165;
  font-weight: 400;
  font-size: 32px;
  font-family: Playfair Display;
  font-style: Regular;
  margin-bottom: 26px;
}

.work__p-text {
  width: 439px;
  color: #777777;
  font-weight: 400;
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
  margin-bottom: 15px;
}

.work__thesis-text {
  width: 438;
  color: #177165;
  font-family: Playfair Display;
  font-style: Regular;
  font-size: 22px;
  margin-bottom: 36px;
}

.work__decor {
  margin-top: 90px;
  width: 212px;
  border: 2px solid #177165;
  padding: 10px 50px 8px 60px;
}

.work__span {
  margin-left: 4px;
}

.work__button {
  color: #177165;
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
}