.work {
  height: 1330px;

  &__content-title {
    margin-bottom: 50px;
    width: 1140px;
  }

  &__content-text {
    margin-left: 50px;
    margin-bottom: 10px;
    color: #777777;
    font-family: Roboto;
    font-size: 18px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      width: 40px;
      height: 1px;
      top: 8px;
      left: -50px;
      right: 10px;
      background-image: url(../img/main/word.svg);
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  &__content-title2 {
    font-weight: 400;
    font-size: 48px;
    font-family: Playfair Display;
    margin-right: 143px;
    color: #177165;
  }

  &__decor-text {
    display: flex;
  }

  &__img-text {
    width: 463px;
    margin-left: 120px;
    margin-top: 73px;
  }

  &__h2-text {
    color: #177165;
    font-weight: 400;
    font-size: 32px;
    font-family: Playfair Display;
    font-style: Regular;
    margin-bottom: 26px;
  }

  &__p-text {
    width: 439px;
    color: #777777;
    font-weight: 400;
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__thesis-text {
    width: 438;
    color: #177165;
    font-family: Playfair Display;
    font-style: Regular;
    font-size: 22px;
    margin-bottom: 36px;
  }

  &__decor {
    margin-top: 90px;
    width: 212px;
    border: 2px solid #177165;
    padding: 10px 50px 8px 60px;
  }

  &__span {
    margin-left: 4px;
  }

  &__button {
    color: #177165;
    font-family: Roboto;
    font-style: Regular;
    font-size: 16px;
  }
}
